*{
    box-sizing: border-box;
    color: white;
    font-family: "Open Sans";   
}

body {
    background-color: black;
    text-align: center; 
    position: relative;
    max-height: 812px;
    min-width:300px; 
}


.navbar , footer {
    background-color: grey;
    position: relative;   
}

.logo {
    width: 25px;
    height: 20px;
    background-color: white;
    border: 2px solid grey;
    position: relative;
    top: 10px;
    left: 10px;
    
}

.head {
    font-size: 36px; 
} 

.hero{
    margin: 38px;
}

.enter {
    color: black;
    margin-bottom: 15px;
}

.navbar {
    bottom: 10px;
}


@media screen and (min-width: 394px){
    .head {
        font-size: 28px;
        width:100%;
        text-align: right;
        margin: 0;
        position: relative;
        left: 40px;
        display:flex;
        justify-content: flex-end; 
        top: 20px;
        
    }
    .hero {
        width: 305px;
        position: relative;
        top: 90px;
        margin-bottom: 120px;

    }

    .tagline {
        width: 200px;
        position: relative;
        top: 45px;
        margin-bottom: 65px;
        font-size: 18px;
        
    }

    .enter {
        position: relative;
        right: 25px;
        width: 50px;
        height: 30px;
    }

    main {
        width: 250px;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        width: 20%;
        top: 0;
        position: absolute; 
        height: 150px;
        line-height: 30px;
    }

    .logo {
        position: relative;
        left: 80%;
        top: 0;
        width: 75px;
        height: 50px;

}
    footer {
     position: relative;
     top: 25px;
    }

}


.projDesignPC{
    margin: auto;
    width: 150px;
    background-color: white;
    height:75px;
    border-radius: 5px;
    position: relative;
    right: 25px;
    border: 4px solid grey;
}
.projDesignTab{
    margin: auto;
    width: 55px;
    background-color: white;
    height:75px;
    border-radius: 5px;
    position: relative;
    left: 85px;
    bottom: 40px;
    border: 4px solid grey;

}

.projDesignMob{
    margin: auto;
    width: 25px;
    background-color: white;
    height:45px;
    border-radius: 5px;
    position: relative;
    left: 30px;
    bottom: 60px;
    border: 3px solid grey;
}

.writeAndLinks{
    position: relative;
    bottom: 55px;
}

@media screen and (min-width: 500px){
    .logo {
        position: relative;
        left: 9+-0%;
        top: 0;
        width: 75px;
        height: 50px;

}
}

@media screen and (min-width: 747px){
    .designs {
        position: relative;
        right: 150px;   
    }
    .projDesignPC {
    margin: auto;
    width: 300px;
    background-color: white;
    height:175px;
    border-radius: 5px;
    position: relative;
    right: 25px;
    border: 6px solid grey;
}
    .projDesignTab{
    margin: auto;
    width: 125px;
    background-color: white;
    height:175px;
    border-radius: 5px;
    position: relative;
    left: 200px;
    bottom: 100px;
    border: 6px solid grey;

}

   .projDesignMob{
    margin: auto;
    width: 65px;
    background-color: white;
    height:105px;
    border-radius: 5px;
    position: relative;
    left: 75px;
    bottom: 160px;
    border: 4px solid grey;
} 
    .aboutMe {
        font-size: 20px;
        line-height: 25px;
        width: 763px;
        display: inline-block;
        width: 715px;
    }

    .projName {
        width: 150px;
        display: inline-block;
        font-size: 14px;
        position: relative;
        left: 250px;
        top: 150px;   
    }

    .projDes {
        position: relative;
        bottom: 50px;
        display: inline-block;
        width: 715px;
    }
    .links {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 850px){

    .tagline {
        font-size: 20px;
        width: 400px; 
        top: 85px;
        left: 15px;
    }

    .logo {
        position: absolute;
        width: 75px;
        height: 50px;
    }

    .enter {
        position: relative;
        width: 100px;
        left: 70px;
        top: 35px;
    }
    footer {
        position: relative;
        top: 95px;
    }

    .hero {
        width: 400px;
        top: 135px;
    }

    .navbar {
        font-size: 20px;
        line-height: 50px;
        height: 250px;
    }

    .logo {
        position: absolute;
        width: 75px;
        height: 50px;
    }
}
   

@media screen and (min-width: 1150px){
    .hero {
        right: 100px;
}
    
}

@media screen and (min-width: 950px){
    
    .projName {
        width: 150px;
        display: inline-block;
        font-size: 18px;
        position: relative;
        left: 250px;
        top: 150px;   
    }

    .projDes {
        position: relative;
        bottom: 50px;
        display: inline-block;
        width: 838px;
        font-size: 20px;
    }

}